* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #00C5FF;
    color: #FF7F00;
}

.titulo-destaque {
    color: #AA7139;
}

.apresentacao {
    display: flex;
    align-items: center;
}